$prefix: "../../img/";
$bg__comingsoon-img: $prefix+"coming.jpg";
$bg__contact-img: 
    $prefix+"contact/contact-s1.jpg",
    $prefix+"contact/contact-s2.jpg";
$bg__error-img: $prefix+"error.jpg";
$bg__index-img: $prefix+"index/index-s1.jpg";
$bg__menu-img: 
    $prefix+"menu/menu-s1.jpg",
    "",
    $prefix+"menu/menu-s3.jpg";
$bg__privacy-img: $prefix+"privacy.jpg";
$bg__story-img: 
    $prefix+"story/story-s1.jpg",
    $prefix+"story/story-s2.jpg",
    $prefix+"story/story-s3.jpg";
$bg__user-img: $prefix+"user/user-s1.jpg";
$bg__init:
    "comingsoon",
    "contact",
    "error",
    "index",
    "menu",
    "privacy",
    "story",
    "user";
$classes_init:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__menu-img,
    $bg__privacy-img,
    $bg__story-img,
    $bg__user-img;
$footer-height: 57px;
$color__shadow: #333;
$text-shadow: 1px 1px 3px $color__shadow; 